.tasksheetContainer{
    height: 84%;
    margin: 20px;
    overflow: auto;

    .loader{
        position: absolute;
        left: 50%;
        top: 50%;
    }

    .errorMessage{
        color: red;
    }
}