.primaryCTA{
    color: white;
    height: 30px;
    margin: 10px;
    background-color: #5454ff;
    border: 1px solid #5454ff;
    border-radius: 10px;
    &:hover{
        cursor: pointer;
    }
}

.taskDetails{
    resize: none;
    height: 100px;
    width: 500px;
    overflow-y: auto;
}